/* OverlayToggles Component Styles */

.container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.label input[type='checkbox'] {
  cursor: pointer;
}

.label input[type='checkbox']:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
